body {
  background: rgb(220, 219, 210);
  background: linear-gradient(
    0deg,
    rgba(220, 219, 210, 1) 90%,
    rgba(0, 150, 136, 1) 90%
  );
  font-family: "Raleway", sans-serif;
}

/* ! MAIN LAYOUT */
#app {
  height: 100vh;
}

section {
  height: 90%;
  margin: auto 0;
}
.contacts {
  background-color: white;
  width: 40%;
}
.chatSection {
  background-color: gray;
  width: 60%;
}
nav {
  height: 70px;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* ! Internal layout  */
ul {
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}
.contacts li {
  cursor: pointer;
}
#contextMenu {
  position: absolute;
  bottom: -20px;
  right: 10px;
  z-index: 1;
}
#contextMenu li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.searchBar {
  background-color: #fafafa;
}
.contactCard {
  height: 80px;
  border-top: 1px solid #e9ebeb;
}
.contactCard:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.contactCard.selected {
  background-color: #e9ebeb;
}
img {
  height: 60px;
  border-radius: 50%;
}
#profilePic {
  height: 60px;
  width: 60px;
  object-fit: cover;
  margin-right: 10px;
}
.autoScroll {
  overflow-y: auto;
  height: calc(100% - 116px);
}

i {
  font-size: 1.3rem;
  margin: 0 3px;
  color: #b1b1b1;
  cursor: pointer;
  padding: 5px;
}
footer i {
  color: #6b7376;
}
i:hover {
  color: rgba(0, 0, 0, 0.4);
}
/* Chat layout  */
#lastMessage {
  color: gray;
  font-size: 0.8rem;
}
.dataMessage {
  font-size: 0.6rem;
  color: gray;
  position: absolute;
  bottom: -12px;
  right: 5px;
}
.chat {
  background-image: url(../img/mine.jpg);
  height: calc(100% - 140px);
  padding: 10px 0;
  overflow-y: auto;
}

.chatMessage {
  margin: 5px 0;
  min-height: 40px;
  border-radius: 10px;
  min-width: 100px;
  line-height: 40px;
  padding: 0 15px;
  position: relative;
}

.sent {
  align-self: flex-end;
  background-color: #d5f9ba;
}
.received {
  align-self: flex-start;
  background-color: #fff;
}
